body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.button {
    padding: 8px 20px;
    color: white;
    background: linear-gradient(90deg, orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 0px;
    padding-top: 0px;
}

.exp-items {
    width: 50%;
    padding-left: 6%;
    box-shadow: 5px 5px 25px gray;
    margin: 4%;
    margin-top: 0%;
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange) 30;
}

.inside {
    padding-right: 5%;
    padding-bottom: 10%;
}

.foot {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}